@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Metal+Mania');

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bungee Inline', cursive;
  color: rgba(0,0,0,0.8);
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 2.2rem;
}
.main-wrapper {
  height: 100vh;
  padding: 24px 24px 0 24px;
}

.main-header {
  position: relative;;
  width: 100%;
  height: 55px;
  margin-bottom: 5px;
}

.logo {
  position: absolute;

}

.main-header h1 {
  display: inline-block;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: white;
  margin-right: 5px;
}

.menu img {
  width: 45px;
  height: 45px;
}

.img1 {
  width: 100%;
  height: 150px;
  background: url("http://pre08.deviantart.net/a7c4/th/pre/i/2012/111/b/2/zombie_vinyl_sleeve_design_by_love_the_rain-d4x5gp1.jpg") center no-repeat;
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 15px;
}

.inner-content {
  text-align: center;
}

.image-block h2 {
  width: 100px;
  height: 200px;
}

.content-small-packaging {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
  font-size: 14px;
}

.content-bigger-packaging {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 40px;
  font-family: 'Metal Mania', cursive;
}

.content-p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.img2 {
  width: 100%;
  height: 150px;
  background: url("http://pre08.deviantart.net/a7c4/th/pre/i/2012/111/b/2/zombie_vinyl_sleeve_design_by_love_the_rain-d4x5gp1.jpg") center no-repeat;
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 15px;
}

@media(min-width: 700px) {
  .main-header {
    display: none;
  }
}
